@{
    ViewData["Title"] = "Home Page";
}


<table>
    <thead>
    <tr>
        <td>Imagine</td>
        <td>Nume</td>
        <td>Pret<br /></>Bucata</td>
        <td>Pret<br />Total</td>
    </tr>
    </thead>
    <tbody></tbody>
    <tfoot>
    <tr>
        <td>
            <a id="cartLink" href="@Url.Action("Index", "Cart")">See Cart...</a>
        </td>
    </tr>
    </tfoot>
</table>
